
html,body
{
margin:0;
background-color:#ddeede;
}

#header
{
background-color:black;
color:white;
text-align:center;
padding:10px;
height:100px;
}
#photo
{
background-color:lightblue;
height:100%;
width:300px;
float:right;
padding:5px;
text-align:center;
}
#links
{
background-color:dddddd;
color:black;
text-align:center;
padding:5px;
}
#story
{
margin:5%;
text-align:left;

}

.menuItem
{
	margin-right:1.5em;
}

